.component-box{    
    border: 4px solid #81222e !important;
    padding: 10px !important;
}

.service-box{
    border: 4px solid #81222e !important;
    margin-left: 114px !important;
    margin-top: 40px !important;
}
.wrap-box{
    border: 4px solid #81222e !important;
    padding: 10px !important;
}

.sub-box{    
    border: 4px dotted #81222e !important;
}

.left-margin{
    margin-left:300px !important; 
}

.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent !important;
    border-right: 10px solid transparent !important;
    
    border-bottom: 10px solid #81222e !important;
  }
  
  .arrow-down {
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent !important;
    border-right: 10px solid transparent !important;
    
    border-top: 10px solid #81222e !important;
  }

  .verticalLine {
    border-left: thick dotted #81222e !important;
  }